dismetadataservice/schema/ExodusExternalUrl.xsd

<?xml version="1.0" encoding="UTF-8"?> 
 <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Thu Oct 22 2015 15:53:30 GMT-0400 (Eastern Standard Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
        <xs:element name="DissertationList">
               <xs:complexType>
                      <xs:sequence>
                             <xs:element name="Dissertation" maxOccurs="unbounded">
                                    <xs:complexType>
                                           <xs:sequence>
                                                 <xs:element name="PubID" type="xs:string"></xs:element>
                                                 <xs:element name="ExtURL" type="xs:string"></xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>
