dismetadataservice/schema/MStarXML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:simpleType name="NotemptyString">
    <xs:restriction base="xs:string">
        <xs:minLength  value="1" />
    </xs:restriction>
</xs:simpleType>
  <xs:element name="Dissertation">
        <xs:complexType>
          <xs:sequence>
                <xs:element type="NotemptyString" name="PubNumber"/>
                <xs:element type="xs:string" name="ISBN" minOccurs="0"/>
                <xs:element type="xs:string" name="PublisherNote" minOccurs="0"/>
                <xs:element name="Authors">
                  <xs:complexType>
                        <xs:sequence>
                                <xs:element name="PrimaryAuthor" type="primaryAuthor" />
                                <xs:element name="SecondaryAuthor" type="secondaryAuthor" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Batch">
                  <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="DBTypeCode" minOccurs="0"/>
                          <xs:element type="xs:string" name="DBTypeDesc" minOccurs="0"/>
                          <xs:element type="xs:string" name="VolumeIssue" minOccurs="0"/>
                          <xs:element type="xs:string" name="DAISectionCode" minOccurs="0"/>
                        </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element type="xs:int" name="PageCount"/>
                <xs:element name="Title">
                  <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="NotemptyString">
                                <xs:attribute type="xs:string" name="Language"/>
                          </xs:extension>
                        </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="AlternateTitles" minOccurs="0">
                  <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AlternateTitle" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                          <xs:attribute type="xs:string" name="Language"/>
                                        </xs:extension>
                                  </xs:simpleContent>
                                </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="School">
                  <xs:complexType>
                        <xs:sequence>
                          <xs:element type="NotemptyString" name="SchoolCode"/>
                          <xs:element type="NotemptyString" name="SchoolName"/>
                          <xs:element type="NotemptyString" name="SchoolCountry"/>
                          <xs:element type="xs:string" name="SchoolState" minOccurs="0"/>
                        </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Departments" minOccurs="0">
                  <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Department" maxOccurs="unbounded"/>
                        </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Advisors" minOccurs="0">
                  <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Advisor" type="advisor" maxOccurs="unbounded">                
                          </xs:element>
                        </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="CmteMembers" minOccurs="0">
                  <xs:complexType>
                        <xs:sequence>
                          <xs:element name="CmteMember" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                  <xs:sequence>
                                        <xs:element type="xs:string" name="FirstName"/>
                                        <xs:element type="xs:string" name="MiddleName" minOccurs="0"/>
                                        <xs:element type="xs:string" name="LastName"/>
                                        <xs:element type="xs:string" name="Suffix" minOccurs="0"/>
                                  </xs:sequence>
                                </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="Keywords" minOccurs="0">
                  <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Keyword" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                          <xs:attribute type="xs:string" name="Source" use="optional"/>
                                        </xs:extension>
                                  </xs:simpleContent>
                                </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element type="NotemptyString" name="DissLanguage"/>
                <xs:element name="Abstract" minOccurs="0">
                  <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="NotemptyString">
                                <xs:attribute type="xs:string" name="Language"/>
                          </xs:extension>
                        </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
				<xs:element name="AlternateAbstracts" minOccurs="0">
                  <xs:complexType>
                        <xs:sequence>
                          <xs:element name="AlternateAbstract" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:simpleContent>
                                        <xs:extension base="NotemptyString">
                                          <xs:attribute type="xs:string" name="Language"/>
                                        </xs:extension>
                                  </xs:simpleContent>
                                </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                  </xs:complexType>
                </xs:element>			
          </xs:sequence>
        </xs:complexType>
  </xs:element>
  <xs:complexType name="primaryAuthor">
        <xs:sequence>
                <xs:element type="NotemptyString" name="AuthorFullName"/>
                <xs:element type="xs:string" name="FirstName" minOccurs="0"/>
                <xs:element type="xs:string" name="LastName" minOccurs="0"/>
                <xs:element type="xs:string" name="MiddleName" minOccurs="0"/>
                <xs:element type="xs:string" name="Suffix" minOccurs="0"/>
                <xs:element name="AltAuthorFullName" minOccurs="0">
                        <xs:complexType>
                                <xs:simpleContent>
                                <xs:extension base="NotemptyString">
                                        <xs:attribute type="xs:string" name="Language"/>
                                </xs:extension>
                                </xs:simpleContent>
                        </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="ORCID" minOccurs="0"/>
                <xs:element name="Degrees" type="degrees" maxOccurs="unbounded"/>
        </xs:sequence>
  </xs:complexType>
  <xs:complexType name="secondaryAuthor">
        <xs:sequence>
                <xs:element type="NotemptyString" name="AuthorFullName"/>
                <xs:element type="xs:string" name="FirstName" minOccurs="0"/>
                <xs:element type="xs:string" name="LastName" minOccurs="0"/>
                <xs:element type="xs:string" name="MiddleName" minOccurs="0"/>
                <xs:element type="xs:string" name="Suffix" minOccurs="0"/>
                <xs:element name="AltAuthorFullName" minOccurs="0">
                        <xs:complexType>
                                <xs:simpleContent>
                                <xs:extension base="NotemptyString">
                                        <xs:attribute type="xs:string" name="Language"/>
                                </xs:extension>
                                </xs:simpleContent>
                        </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="ORCID" minOccurs="0"/>
                <xs:element name="Degrees" type="degrees" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:int" name="sequence_number"/>
  </xs:complexType>
  <xs:complexType name="advisor">
        <xs:sequence>
                <xs:element type="NotemptyString" name="AdvisorFullName"/>
                <xs:element type="xs:string" name="FirstName" minOccurs="0"/>
                <xs:element type="xs:string" name="LastName" minOccurs="0"/>              
                <xs:element type="xs:string" name="Suffix" minOccurs="0"/>
                <xs:element name="AltAdvisorFullName" minOccurs="0">
			<xs:complexType>
				<xs:simpleContent>
				  <xs:extension base="NotemptyString">
					<xs:attribute type="xs:string" name="Language"/>
				  </xs:extension>
				</xs:simpleContent>
			  </xs:complexType>
                 </xs:element>        
        </xs:sequence>
  </xs:complexType>
  <xs:complexType name="degrees">
        <xs:sequence>
                <xs:element name="Degree" maxOccurs="unbounded">
                        <xs:complexType>
                        <xs:sequence>
                                <xs:element type="NotemptyString" name="DegreeCode"/>
                                <xs:element type="xs:string" name="DegreeDescription" minOccurs="0"/>
                                <xs:element type="xs:short" name="DegreeYear"/>
                        </xs:sequence>
                        <xs:attribute type="xs:int" name="sequence_number" use="optional"/>
                        </xs:complexType>
                </xs:element>
        </xs:sequence>
  </xs:complexType>
</xs:schema>